
<!DOCTYPE html>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Visit Argosaronikos</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link mlink" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link mlink" aria-current="page" href="#" onclick="return checkIslandSelection()">Activities</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<head></head>


<script>
    function checkIslandSelection() {
        var url = window.location.href;
        var pathArray = url.split('/');
        var island = pathArray[pathArray.length - 1];

        if (island === "" || island === "home" || island === "index" || island === "/") {
            alert("Please select an island first!");
            return false;
        }
        window.location.href = "/activities/" + island;
        return false;
    }
</script>
