body {
	background-color: #f8f9fa;
}

.container{
	margin-top: 20px;
}



footer{
	color: #fff;
	background-color: #343a40;
}

.litems,.mlink{
	text-decoration: none;
	/*color: #f8f9fa;*/
	color: rgba(255,255,255,.90)!important;
	
}
.litems:hover{
	/*color: white;*/
	color: rgba(255,255,255,10)!important;
}

.row{
	margin-top: 20px;
}

.navbar-profile-image{
	width: 50px;
	height: 50px;
}



.a_image{
  border: 1px solid #ddd;
  border-radius: 8px;
}

.aba_header{
	text-align: center;
}

.error_message{
	text-align: center;
	color: rgba(255,30,30,.90);
	font-size: 2em;
	font-weight: bold;
}


.error_image{
	text-align: center;
	width: 1000px;
	margin: 10px;
	border-radius: 15px;
	border: 1px solid black;

  display: block;
  margin-left: auto;
  margin-right: auto;

}

.align-buttons{
	text-align: center;
	/* border: 1px solid black; */
}


.custom-list-group {
    background-color: #f0f0f0; /* Γκρι χρώμα */
  }
